.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Kunena {
  line-height: 18px;
}
#Kunena table,
#Kunena tr,
#Kunena td,
#Kunena th,
#Kunena div,
#Kunena fieldset,
#Kunena span,
#Kunena li,
#Kunena dt,
#Kunena legend {
  border-color: #dddddd !important;
}
#Kunena legend {
  color: inherit;
}
#Kunena table {
  background: transparent;
  border-collapse: separate;
}
#Kunena table.kblocktable {
  border-collapse: collapse;
}
#Kunena td {
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#Kunena tr,
#Kunena td {
  border-bottom: 1px solid;
}
#Kunena dt {
  font-weight: normal;
}
#Kunena a.close,
#Kunena a.open {
  background-color: #dddddd;
  opacity: 1;
  filter: alpha(opacity=100);
  cursor: pointer;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
#Kunena a.close:hover,
#Kunena a.open:hover {
  background-color: #c4c4c4;
}
#Kunena #ktab {
  text-align: center;
}
#Kunena #ktab li {
  margin: 0 25px !important;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: none;
}
#Kunena #ktab li a,
#Kunena #ktab li span {
  padding: 0;
  line-height: 18px;
  font-weight: 500;
  font-size: 18px;
  display: block;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}
#Kunena #ktopmenu {
  display: block;
  margin: 0 0 30px;
  padding: 0 0 35px;
  border-bottom: 1px solid #dddddd;
}
#Kunena .kforum-pathway {
  margin-top: 0;
  border-top: 1px solid;
}
#Kunena .kforum-pathway .path-element {
  position: relative;
}
#Kunena .kforum-pathway .path-element:before {
  position: absolute;
  left: 1px;
  top: 50%;
  border-left: 4px solid #aaaaaa;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  content: '';
  margin-top: -4px;
}
#Kunena form {
  margin: 0px;
}
#Kunena .kicon-button {
  background: none !important;
  cursor: auto;
}
#Kunena .kicon-button span span {
  color: #fff;
}
#Kunena div.kmessage-editmarkup-cover {
  border: none;
}
#Kunena a.kwho-admin:hover,
#Kunena a.kwho-globalmoderator:hover,
#Kunena a.kwho-moderator:hover,
#Kunena a.kwho-banned:hover,
#Kunena a.kwho-user:hover,
#Kunena a.kwho-guest:hover {
  text-decoration: underline !important;
}
#Kunena label {
  display: inline;
}
#Kunena div.kblock {
  margin-top: 30px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#Kunena div.kblock div.kheader {
  padding: 9px 20px;
  background: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
#Kunena div.kblock div.kheader > span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
#Kunena div.kblock div.kheader > span.k-name {
  display: inline;
}
#Kunena div.kblock div.kheader > span.kright {
  float: right;
}
#Kunena div.kblock div.kheader > span a {
  color: inherit;
}
#Kunena div.kblock div.kheader div.ktitle-desc,
#Kunena div.kblock div.kheader div.ksearchresult-desc {
  color: #333333;
  margin-top: 0px;
  padding: 0 0 4px;
}
#Kunena div.kblock div.kbody {
  border: none;
}
#Kunena .kbody:after {
  clear: both;
  display: block;
  content: '';
}
#Kunena .ktoggler {
  display: none;
}
#Kunena div.input,
#Kunena span.input,
#Kunena td.input {
  padding: 10px 0 5px;
  display: inline-block;
  max-width: 100%;
}
#Kunena div.input input,
#Kunena span.input input,
#Kunena td.input input {
  margin-right: 5px;
}
#Kunena div.input > span,
#Kunena span.input > span,
#Kunena td.input > span {
  display: block;
  padding: 10px 0 0;
  white-space: nowrap;
}
#Kunena div.input > span label,
#Kunena span.input > span label,
#Kunena td.input > span label {
  display: inline-block;
  margin-bottom: 10px;
}
#Kunena div.input > span button,
#Kunena span.input > span button,
#Kunena td.input > span button {
  float: right;
  margin-right: 5px;
}
#Kunena .klink-block span {
  padding: 0 5px 0 0;
}
#Kunena .klink-block span.kprofilebox-register {
  display: block;
  padding: 5px 0 0;
}
#Kunena + div[style] {
  display: none;
}
#Kunena span.kunreadforum,
#Kunena span.kreadforum,
#Kunena span.knotloginforum,
#Kunena .kwhoicon,
#Kunena .kstatsicon {
  background: none;
  width: auto;
  height: auto;
  padding-top: 9px;
}
#Kunena span.kunreadforum:before,
#Kunena span.kreadforum:before,
#Kunena span.knotloginforum:before,
#Kunena .kwhoicon:before,
#Kunena .kstatsicon:before {
  font-family: FontAwesome;
  font-size: 25px;
  line-height: 25px;
}
#Kunena span.kunreadforum:before {
  content: '\f07b';
}
#Kunena span.kreadforum,
#Kunena span.knotloginforum {
  background: none;
}
#Kunena span.kreadforum:before,
#Kunena span.knotloginforum:before {
  content: '\f114';
}
#Kunena .kwhoicon:before {
  content: '\f0c0';
}
#Kunena .kstatsicon:before {
  content: '\f1fe';
}
#Kunena div.kmessage-buttons-row {
  height: auto;
  line-height: inherit;
  font-size: 11px;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}
#Kunena div.kmessage-buttons-row > .btn {
  margin: 0 3px;
}
#Kunena .klist-actions-forum div.kmessage-buttons-row {
  display: inline-block;
}
#Kunena .klist-bottom {
  padding-bottom: 0 !important;
}
#Kunena .kwholegend {
  display: none;
}
#Kunena .kcol-ktopicicon a:before {
  content: '\f095';
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 24px;
}
#Kunena .kcol-ktopicicon.unanswered a:before {
  content: '\f098';
  font-family: FontAwesome;
  font-size: 32px;
  line-height: 32px;
}
#Kunena img[src$='unanswered.png'],
#Kunena img[src$='normal.png'] {
  height: 0;
  width: 0;
}
#Kunena .k-profile .clrline {
  display: none;
}
#Kunena .k-profile .kheader a.kwho-admin {
  font-size: 0;
  line-height: 0;
  text-decoration: none !important;
  font-weight: normal;
}
#Kunena .k-profile .kheader a.kwho-admin:hover:after {
  font-size: 26px;
}
#Kunena .k-profile .kheader a.kwho-admin:after {
  content: '\f044';
  font-family: FontAwesome;
  font-size: 20px;
  line-height: 24px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#Kunena .k-profile .kheader .back a.kwho-admin:after {
  content: '\f112';
}
#Kunena div.kavatar-lg {
  border: none;
  display: block;
  height: auto;
}
#Kunena span[class*='kbuttononline'] {
  margin: 0;
}
#Kunena span[class*='kbuttononline'] span {
  margin: 0;
}
#Kunena span[class*='kbuttononline'] span span {
  padding: 0;
  color: inherit;
}
#Kunena #kprofile-tabs dl.tabs,
#Kunena #kprofile-edit dl.tabs {
  display: table;
  width: 100%;
  float: none;
  border: none;
}
#Kunena #kprofile-tabs dl.tabs dt,
#Kunena #kprofile-edit dl.tabs dt {
  display: table-cell;
  float: none;
  text-align: center;
  padding: 10px 0;
}
#Kunena #kprofile-tabs dl.tabs dt + dt,
#Kunena #kprofile-edit dl.tabs dt + dt {
  border-left: none;
}
#Kunena .kicon-profile {
  vertical-align: top;
  margin-right: 10px;
}
#Kunena .kicon-profile-location {
  background: none;
}
#Kunena .kicon-profile-location:before {
  content: '\f015';
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 15px;
}
#Kunena .kicon-profile-gender-male {
  background: none;
}
#Kunena .kicon-profile-gender-male:before {
  content: '\f007';
  font-family: FontAwesome;
  font-size: 18px;
  line-height: 15px;
}
#Kunena .kicon-profile-birthdate {
  background: none;
}
#Kunena .kicon-profile-birthdate:before {
  content: '\f1fd';
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 15px;
}
#Kunena div.kiconrow {
  padding-right: 0;
}
#Kunena div.kiconrow span[class*="off"] {
  display: none;
}
#Kunena div.kiconrow .kicon-profile:before {
  font-family: FontAwesome;
  font-size: 17px;
  line-height: 15px;
}
#Kunena .kicon-profile-twitter {
  background: none;
}
#Kunena .kicon-profile-twitter:before {
  content: '\f081';
}
#Kunena .kicon-profile-facebook {
  background: none;
}
#Kunena .kicon-profile-facebook:before {
  content: '\f082';
}
#Kunena .kicon-profile-linkedin {
  background: none;
}
#Kunena .kicon-profile-linkedin:before {
  content: '\f08c';
}
#Kunena .kicon-profile-skype {
  background: none;
}
#Kunena .kicon-profile-skype:before {
  content: '\f17e';
}
#Kunena .kicon-profile-delicious {
  background: none;
}
#Kunena .kicon-profile-delicious:before {
  content: '\f1a5';
}
#Kunena .kicon-profile-digg {
  background: none;
}
#Kunena .kicon-profile-digg:before {
  content: '\f1a6';
}
#Kunena .kicon-profile-flickr {
  background: none;
}
#Kunena .kicon-profile-flickr:before {
  content: '\f16e';
}
#Kunena .kprofile-rightcol ul {
  margin: 0;
}
#Kunena .kicon-profile-email {
  background: none;
}
#Kunena .kicon-profile-email:before {
  content: '\f0e0';
  font-family: FontAwesome;
  font-size: 16px;
  line-height: 15px;
}
#Kunena #kprofile-stats .kicon-button {
  cursor: auto;
}
#Kunena span.kmsgtitle,
#Kunena span.kmsgtitle-new {
  padding-left: 0;
  background: none;
}
#Kunena .klist-markallcatsread,
#Kunena .klist-jump-all,
#Kunena .klist-times-all,
#Kunena div.kmoderatorslist-jump {
  margin: 0;
  border: none;
}
#Kunena .klist-markallcatsread form#jumpto,
#Kunena .klist-jump-all form#jumpto,
#Kunena .klist-times-all form#jumpto,
#Kunena div.kmoderatorslist-jump form#jumpto,
#Kunena .klist-markallcatsread form#timeselect,
#Kunena .klist-jump-all form#timeselect,
#Kunena .klist-times-all form#timeselect,
#Kunena div.kmoderatorslist-jump form#timeselect {
  margin: 0;
  font-size: 0;
  line-height: 0;
}
#Kunena .klist-markallcatsread form#jumpto span.select,
#Kunena .klist-jump-all form#jumpto span.select,
#Kunena .klist-times-all form#jumpto span.select,
#Kunena div.kmoderatorslist-jump form#jumpto span.select,
#Kunena .klist-markallcatsread form#timeselect span.select,
#Kunena .klist-jump-all form#timeselect span.select,
#Kunena .klist-times-all form#timeselect span.select,
#Kunena div.kmoderatorslist-jump form#timeselect span.select {
  margin: 0 10px 0 0 !important;
}
#Kunena .klist-markallcatsread form#jumpto select#catid,
#Kunena .klist-jump-all form#jumpto select#catid,
#Kunena .klist-times-all form#jumpto select#catid,
#Kunena div.kmoderatorslist-jump form#jumpto select#catid,
#Kunena .klist-markallcatsread form#timeselect select#catid,
#Kunena .klist-jump-all form#timeselect select#catid,
#Kunena .klist-times-all form#timeselect select#catid,
#Kunena div.kmoderatorslist-jump form#timeselect select#catid {
  width: 370px;
}
#Kunena .klist-markallcatsread form#jumpto select#sel,
#Kunena .klist-jump-all form#jumpto select#sel,
#Kunena .klist-times-all form#jumpto select#sel,
#Kunena div.kmoderatorslist-jump form#jumpto select#sel,
#Kunena .klist-markallcatsread form#timeselect select#sel,
#Kunena .klist-jump-all form#timeselect select#sel,
#Kunena .klist-times-all form#timeselect select#sel,
#Kunena div.kmoderatorslist-jump form#timeselect select#sel {
  width: 194px;
}
#Kunena .klist-markallcatsread form#jumpto select#catid,
#Kunena .klist-jump-all form#jumpto select#catid,
#Kunena .klist-times-all form#jumpto select#catid,
#Kunena div.kmoderatorslist-jump form#jumpto select#catid,
#Kunena .klist-markallcatsread form#timeselect select#catid,
#Kunena .klist-jump-all form#timeselect select#catid,
#Kunena .klist-times-all form#timeselect select#catid,
#Kunena div.kmoderatorslist-jump form#timeselect select#catid,
#Kunena .klist-markallcatsread form#jumpto select#sel,
#Kunena .klist-jump-all form#jumpto select#sel,
#Kunena .klist-times-all form#jumpto select#sel,
#Kunena div.kmoderatorslist-jump form#jumpto select#sel,
#Kunena .klist-markallcatsread form#timeselect select#sel,
#Kunena .klist-jump-all form#timeselect select#sel,
#Kunena .klist-times-all form#timeselect select#sel,
#Kunena div.kmoderatorslist-jump form#timeselect select#sel {
  max-width: 370px;
}
#Kunena .klist-markallcatsread form#jumpto .btn,
#Kunena .klist-jump-all form#jumpto .btn,
#Kunena .klist-times-all form#jumpto .btn,
#Kunena div.kmoderatorslist-jump form#jumpto .btn,
#Kunena .klist-markallcatsread form#timeselect .btn,
#Kunena .klist-jump-all form#timeselect .btn,
#Kunena .klist-times-all form#timeselect .btn,
#Kunena div.kmoderatorslist-jump form#timeselect .btn {
  padding-top: 9px;
  padding-bottom: 11px;
  margin: 0 !important;
}
#Kunena .kl {
  font-size: inherit;
}
#Kunena div.kthead-title a {
  font-size: inherit;
  font-weight: 500;
  margin: 0;
}
#Kunena tr.krow1 td,
#Kunena tr.krow2 td {
  padding: 10px 20px;
}
#Kunena .kwhoonline {
  border: none;
  margin: 0;
  padding: 0;
  font-size: 11px;
}
#Kunena .kwhoonline strong {
  font-weight: normal;
}
#Kunena tr {
  border-bottom: none;
}
#Kunena td,
#Kunena td.kcol-first,
#Kunena td.kcol-mid {
  border-bottom: none;
}
#Kunena tr + tr {
  border-top: 1px solid #dddddd;
}
#Kunena td.kcol-first {
  vertical-align: top;
}
#Kunena td.kcol-kcatlastpost,
#Kunena td.kcol-knoposts {
  font-size: 11px;
  text-align: left;
  vertical-align: top;
  width: 22%;
}
#Kunena span.kcat-topics-number,
#Kunena span.kcat-replies-number,
#Kunena span.ktopic-views-number {
  -webkit-border-radius: 1000px;
  -moz-border-radius: 1000px;
  border-radius: 1000px;
  font: inherit;
  color: #fff;
  line-height: 30px;
  width: 30px;
  margin: 10px auto 0;
}
#Kunena span.kcat-topics,
#Kunena span.kcat-replies,
#Kunena span.ktopic-views {
  font-size: 11px;
}
#Kunena div.klatest-subject,
#Kunena div.klatest-subject-by {
  margin-left: 0;
}
#Kunena div.klatest-subject-by:before {
  color: #0088cc;
  content: '\f007';
  font-family: FontAwesome;
  width: 16px;
  display: inline-block;
}
#Kunena span.klatest-subject-time,
#Kunena span.ktopic-date {
  display: block;
  font-size: 11px;
}
#Kunena span.klatest-subject-time:before,
#Kunena span.ktopic-date:before {
  content: '\f073';
  font-family: FontAwesome;
  width: 19px;
  display: inline-block;
}
#Kunena span.ktopic-latest-post {
  font-size: 11px;
}
#Kunena div.kthead-desc,
#Kunena div.kthead-moderators {
  line-height: 18px;
}
#Kunena td.kcol-kcattopics,
#Kunena td.kcol-kcatreplies {
  vertical-align: top;
}
#Kunena ul#kstatslistleft li,
#Kunena ul#kstatslistright li {
  padding: 0;
  font-size: 11px;
  line-height: 18px;
}
#Kunena ul#kstatslistleft li strong,
#Kunena ul#kstatslistright li strong {
  font-weight: normal;
}
#Kunena ul#kstatslistleft li strong a,
#Kunena ul#kstatslistright li strong a {
  font-weight: inherit;
}
#Kunena ul#kstatslistleft li span.divider,
#Kunena ul#kstatslistright li span.divider {
  color: #e1e1e1;
  margin: 0 10px;
}
#Kunena div.klist-actions {
  border: none;
  margin: 0;
  font-size: 0;
  line-height: 0;
}
#Kunena table.klist-actions {
  border: none;
}
#Kunena table.klist-actions .klist-actions-forum {
  border: none;
}
#Kunena div.kmessage-buttons-cover div.kmessage-buttons-row {
  padding-top: 0;
}
#Kunena div.kpost-thankyou {
  margin-top: 0;
}
#Kunena div.klist-actions-info-all {
  padding: 0;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  color: #0088cc;
  font-weight: 500;
  padding-right: 27px;
}
#Kunena div.klist-actions-info-all strong {
  font: inherit;
  color: inherit;
}
#Kunena div.klist-times-all {
  width: auto;
  border: none;
  height: auto;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
#Kunena div.klist-jump-all {
  width: auto;
  border: none;
  height: auto;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
#Kunena div.klist-pages-all {
  height: auto;
  padding: 0;
  border: none;
  display: inline-block;
  vertical-align: middle;
}
#Kunena fieldset {
  border: none;
  padding: 0 0 13px;
  margin: 0;
}
#Kunena fieldset legend {
  padding: 0 0 4px;
  margin: 0;
  text-align: left;
  border: none;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
}
#Kunena #kforumsearch {
  text-align: left;
}
#Kunena #kforumsearch #keywords {
  margin-right: 2%;
}
#Kunena #kforumsearch #keywords + .select {
  margin-right: 0;
}
#Kunena #kforumsearch #mode {
  margin: 0;
}
#Kunena #kforumsearch .searchlabel-checkbox {
  display: inline-block;
  margin: 0;
  width: 47.2%;
  vertical-align: middle;
}
#Kunena #searchform .krow1 .kcol {
  vertical-align: top;
  width: 50%;
}
#Kunena #searchform .krow1 .kcol + .kcol {
  border-left: 1px solid #dddddd;
}
#Kunena #searchform #kusername {
  width: 49%;
  margin-right: 3.7%;
}
#Kunena #searchform .searchlabel-checkbox span.checkbox {
  margin-left: 8px;
}
#Kunena .kadvsearch {
  text-align: left;
}
#Kunena .kadvsearch #keywords,
#Kunena .kadvsearch span.select,
#Kunena .kadvsearch #jump {
  width: 49%;
}
#Kunena .kadvsearch #date,
#Kunena .kadvsearch #beforeafter,
#Kunena .kadvsearch #mode,
#Kunena .kadvsearch #sort,
#Kunena .kadvsearch #order,
#Kunena .kadvsearch #limit {
  width: 100%;
}
#Kunena .kadvsearch input {
  margin-bottom: 0;
}
#Kunena .kadvsearch #jump {
  margin-right: 2%;
}
#Kunena .kadvsearch #jump + .select {
  margin-right: 0;
}
#Kunena .kadvsearch fieldset {
  font-size: 0;
  line-height: 0;
}
#Kunena .kadvsearch fieldset .select {
  margin-right: 2%;
}
#Kunena .kadvsearch fieldset .select + .select {
  margin-right: 0;
}
#Kunena .kadvsearch .btn + .btn {
  background: #333333;
  color: #ffffff;
  border-color: #333333;
  margin-left: 7px;
}
#Kunena .kadvsearch label#childforums-lbl {
  width: 49%;
  margin-right: 2%;
}
#Kunena .kadvsearch label#childforums-lbl span.checkbox {
  margin-right: 5px;
}
#Kunena .kadvsearch option {
  font-size: inherit;
}
#Kunena .kadvsearch #categorylist {
  float: right;
  width: 49%;
}
#Kunena .klatest-subject a {
  white-space: nowrap;
}
#Kunena select {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  text-overflow: ellipsis;
}
#Kunena select option {
  overflow: hidden;
  text-overflow: ellipsis;
}
#Kunena .kadvsearch input,
#Kunena .kadvsearch select,
#Kunena .kadvsearch button,
#Kunena .kadvsearch label {
  max-width: 100% !important;
}
#Kunena input,
#Kunena select,
#Kunena button,
#Kunena label {
  margin-top: 0 !important;
}
#Kunena ul.kpost-profile li.kpost-username {
  font: inherit;
}
#Kunena span.kavatar img {
  border: none;
  padding: 0;
  margin: 0;
}
#Kunena div#ksearchresult td.resultmsg {
  text-align: left;
  border-bottom: 1px solid;
  padding: 10px 20px;
}
#Kunena div#ksearchresult div.kresult-title {
  padding: 0;
  border: none;
}
#Kunena div#ksearchresult div.resultmsg {
  padding: 0;
}
#Kunena span.kmsgtitle,
#Kunena #Kunena span.kmsgtitle-new {
  font: inherit;
  font-weight: 500;
}
#Kunena div#ksearchresult span.kmsgtitle a {
  font: inherit;
}
#Kunena td {
  padding: 0;
}
#Kunena tr.ksth th {
  border-bottom: 1px solid;
  font-weight: normal;
}
#Kunena div#ksearchresult div.resultcat {
  padding: 0;
  border: none;
  font-size: 11px;
}
#Kunena a.ktopic-title {
  font: inherit;
  font-weight: 500;
}
#Kunena span.ktopic-posted-time {
  float: none;
  display: inline;
  font-size: 11px;
}
#Kunena span.ktopic-by {
  float: none;
  font-size: 11px;
}
#Kunena div.ktopic-details {
  font: inherit;
}
#Kunena td.kcol-ktopictitle {
  vertical-align: top;
}
#Kunena div.kmessage-thankyou {
  font-size: 11px;
  border-top: none;
  text-align: right;
}
#Kunena div.kmsg-header {
  text-align: right;
  font-size: 11px;
  border-top: 1px solid;
}
#Kunena div.kmsg-header span.kmsg-id-left {
  margin-left: 10px !important;
}
#Kunena div.kmsg-header:first-child {
  border-top: 0;
}
#Kunena ul.kpost-profile li {
  font-size: 11px;
  padding: 0;
  line-height: 14px;
}
#Kunena div.kmsgbody div.kmsgtext {
  text-align: left;
}
#Kunena td.kmessage-left {
  padding: 10px 20px;
}
#Kunena div.kmsgbody {
  padding: 0;
  margin: 0;
  width: 100%;
}
#Kunena td.kprofile-left,
#Kunena td.kbuttonbar-left {
  border-bottom: 0;
}
#Kunena .kbuttons {
  padding: 19px 10px;
}
#Kunena .krowmoderation select {
  max-width: 100%;
}
#Kunena div.kblock span.select-toggle {
  padding: 0px;
  margin: 0;
  height: auto;
  position: static;
}
#Kunena .krow1 td.krowmoderation {
  text-align: center;
  padding: 19px 20px;
  font-size: 0;
}
#Kunena .krow1 td.krowmoderation > * {
  margin: 0 5px;
}
#Kunena .kfile-input-textbox {
  margin-bottom: 0;
}
#Kunena .kpostbuttonset {
  border-collapse: collapse;
}
#Kunena td#kpost-buttons {
  padding: 19px 20px;
  font-size: 0;
}
#Kunena td#kpost-buttons .btn {
  margin: 0 5px;
}
#Kunena tr#kpost-attachments td.kcol-mid {
  padding-bottom: 0;
}
#Kunena .kattachment {
  white-space: nowrap;
}
#Kunena .kattachment .kattachment-container {
  white-space: normal;
}
#Kunena .kattachment .kattachment-container > * {
  margin-bottom: 10px;
}
#Kunena .kattachment .kfile-input-textbox {
  max-width: 100%;
}
#Kunena .kattachment + .kattachment {
  padding-top: 10px;
}
#Kunena #kpost-category span.select {
  max-width: 100%;
}
#Kunena .kattachment-id-container {
  float: left;
  margin-right: 10px;
}
#Kunena .kattachment-container {
  overflow: hidden;
  display: block;
}
#Kunena #helpbox {
  margin: 0;
}
#Kunena #kpostmessage tr.krow1 .kpostbuttonset td.kposthint {
  padding: 11px 20px;
}
#Kunena #khistory tr.ksth td {
  border-bottom: 1px solid;
  font-size: 11px;
  text-align: right;
}
#Kunena div#khistory span.khistory-msgdate {
  float: none;
  padding: 0 10px 0 0;
}
#Kunena div#khistory td.khistorymsg {
  padding: 11px 20px;
}
#Kunena span.kkarma-minus {
  background: none;
  width: auto;
  height: auto;
  margin: 0 3px;
}
#Kunena span.kkarma-minus:before {
  content: '\f068';
  font-family: FontAwesome;
}
#Kunena span.kkarma-plus {
  background: none;
  width: auto;
  height: auto;
  margin: 0 3px;
}
#Kunena span.kkarma-plus:before {
  content: '\f067';
  font-family: FontAwesome;
}
#Kunena table.kblock-ban th {
  font-weight: normal;
}
#Kunena #expiration_img {
  padding-top: 9px;
  padding-bottom: 11px;
}
#Kunena td.kcol-last {
  border-bottom: none;
}
#Kunena div.kstats-bar {
  height: 30px;
  position: relative;
  background: #f0f0f0;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#Kunena div.kstats-bar div.bar {
  height: 30px;
  overflow: hidden;
  position: relative;
}
#Kunena div.kstats-bar div.bar .number_bar {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 8px;
  text-align: right;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  color: #fff;
  z-index: 2;
}
#Kunena div.kstats-bar div.number {
  position: absolute;
  right: 8px;
  top: 0;
  line-height: 30px;
  color: #333;
  font-size: 17px;
  font-weight: 500;
}
#Kunena #kusersearch {
  margin-bottom: 0;
}
#Kunena table#kuserlist-bottom div {
  padding: 0;
}
#Kunena #jumpto .inputbox {
  max-width: 100%;
}
#Kunena td.klist-actions-info-all {
  padding: 0;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
}
